:root {
	--navHeight: 2rem;
	--asideMainWidth: 7rem;
	--asideDescWidth: 10rem;

	--dataWindowWidth: 18rem;
	--dataWindowColumnWidth: 10rem;
	--maxListHeight: 7rem;
	/* colors */

	--primary: rgb(255, 240, 225);
	--primary-dark: rgb(243, 226, 209);
	--primary-light: rgb(251, 247, 243);

	--secondary: rgb(141, 181, 173);
	--secondary-dark: rgb(109, 147, 140);
	--secondary-light: rgb(183, 212, 207);

	--accent: rgb(239, 160, 85);

	--success: rgb(142, 216, 136);
	--success-light: rgb(176, 232, 171);

	--danger: rgb(223, 124, 124);
	--danger-dark: rgb(213, 60, 60);
	--danger-light: rgb(217, 144, 144);

	--warning: rgb(249, 249, 115);
	--warning-dark: rgb(193, 193, 89);
	--warning-light: rgb(251, 251, 152);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scrollbar-color: var(--secondary) transparent;
}
body {
	margin: 0px;
	width: 100%;
	height: 100%;
	font-family: 'Press Start 2P', system-ui, cursive;
	line-height: 1.5;
	overflow: hidden;
	font-size: small;
}
.app {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-areas:
		'navbar navbar'
		'sidebar main';
	grid-template-columns: auto 1fr;
	grid-template-rows: var(--navHeight) 1fr;
}

.nav {
	grid-area: navbar;
	z-index: 3;
	position: relative;
	top: 0;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px black solid;
}

/* #region nav-elements */

/* #endregion nav-elements */
.aside {
	grid-area: sidebar;
	position: sticky;
	align-self: start;
	top: var(--navHeight);
	height: calc(100vh - var(--navHeight));
	width: var(--asideMainWidth);
	z-index: 2;
}
/* #region aside-elements */
.aside-main {
	background: var(--accent);
	z-index: 5;
	width: var(--asideMainWidth);
	height: 100%;
	display: flex;
	align-items: end;
	justify-content: space-evenly;
	flex-shrink: 0;
	flex-direction: column;
	position: absolute;
	left: 0;
	border-right: 2px solid black;
}
.aside-desc {
	z-index: 4;
	width: var(--asideDescWidth);
	height: 100%;
	background: burlywood;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	white-space: pre-line;
	position: absolute;
	left: var(--asideMainWidth);
	transform: translateX(-100%);
	transition: transform 0.3s ease;
	pointer-events: none;
	border-right: 2px solid black;
}

.aside:has(.aside-button:hover) .aside-desc {
	transform: translateX(0);
	pointer-events: auto;
}
.aside-toggle {
	position: absolute;
	top: var(--navHeight);
	display: none;
	aspect-ratio: 1/1;
	height: 32px;
	z-index: 6;
}
.aside-toggle button svg {
	transition: transform 0.2s;
	transform: rotate(90deg);
}
.aside-toggle.active button svg {
	transform: rotate(-90deg);
}

.aside-button {
	position: relative;
	right: 0;
	width: 75px;
	aspect-ratio: 1/1;
	margin: 5px;
	padding-left: 15px;
	margin-right: 0px;
	border-radius: 10px;
	corner-shape: notch square square notch;
	border: solid 4px;
	border-right: 0px;
	bottom: 0;
	box-shadow: none;
	transition:
		transform 0.2s,
		box-shadow 0.2s;
}
.aside-button:hover {
	transform: translateY(-8px);
	box-shadow: white 0px 8px;
}
.aside-button:active {
	transform: translateY(-2px);
	box-shadow: white 0px 2px;
}

/* #endregion aside-elements */
.main {
	grid-area: main;
	padding: 2%;
	height: calc(100vh - var(--navHeight));
}
/* #region main-elements */
.main-list-border {
	/* This is here to round up the scroll bar*/
	overflow: hidden;
	height: 100%;
	width: 100%;
	border-radius: 30px;
}
.main-list {
	padding: 30px;
	overflow-y: scroll;
	height: 100%;
	scrollbar-color: var(--orange) trasparent;
	background: rgb(181, 255, 239);
}
.main-list-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--dataWindowWidth), 1fr));
	gap: 15px;
	justify-items: center;
}
.moved-away {
	position: relative;
	top: 100vh;
}

.data-window-holder {
	width: var(--dataWindowWidth);
}
.data-window {
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	border: 2px black solid;
	display: flex;
	flex-direction: column;
}
.data-window-top-bar {
	display: flex;
	justify-content: space-between;
	padding: 2px;
	background: var(--secondary);
	border-bottom: solid black 2px;
}
.buttons {
	display: flex;
	flex-direction: row;
}
.data-window-content {
	padding: 10px;
	background: var(--primary);
	height: 100%;
	overflow-y: scroll;
}
.data-window.big {
	position: fixed;
	top: 10%;
	left: 10%;
	width: 80vw;
	height: 80vh;
	aspect-ratio: auto;
	z-index: 11;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}

.data-window.create:not(.big) {
	height: 100%;
	padding: 0px;
}
.create-content {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.details-form {
	display: contents;
}
.details-feature {
	display: grid;
	height: 100%;
	grid-template-rows: 1fr auto;
}
.details-contents {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.details-column {
	flex: 1 1 0px;
	padding: 5px;
	min-width: var(--dataWindowColumnWidth);
	border-right: var(--primary-dark) 4px solid;
	border-bottom: var(--primary-dark) 4px solid;
}

.background-blur {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);
}

/* #endregion main-elements */

/* #region ui */
.input {
	display: flex;
	flex-direction: column;
	font-size: x-small;
	margin-bottom: 1rem;
}
.input-field {
	background: transparent;
	border: solid black 1px;
	text-align: start;
	padding: 0.25rem;
	width: 100%;
}

select.input-field:enabled,
input.input-field:enabled {
	background-color: var(--primary-light);
}

.image-field {
	width: fit-content;
	height: fit-content;
	border: 1px black solid;
	line-height: 1;
}

.image-field:has(input:invalid),
.input-field:invalid {
	/* background: var(--danger-light) !important; */
	outline: solid 2px var(--danger-dark);
}

.input-file > div {
	display: grid;
	gap: 0.25rem;
}
.input-file-input > input {
	display: none;
}
.input-file-input {
	display: inline-block;
	background-color: var(--primary-dark);
}
.input-file-input:hover {
	background-color: var(--primary);
}

.list-column {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.list-wrapper {
	border-radius: 10px;
	overflow: hidden;
	flex-grow: 1;
}
.list {
	overflow-y: scroll;
	height: var(--maxListHeight);
	background: var(--primary-dark);
	padding: 0.5rem;
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.25rem;
}
.input-list {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr auto;
}
.input-list > button {
	height: fit-content;
	align-self: center;
}

.pill {
	display: grid;
	grid-template-columns: 1fr auto;
	border: 1px solid black;
	padding: 2px;
	height: fit-content;
}

.pill > span {
	overflow-x: auto;
}
.toggle {
	position: relative;
	height: 32px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: fit-content;
	width: fit-content;
}
.toggle input[type='checkbox'] {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.toggle input:enabled {
	cursor: pointer;
}
.toggle label {
	position: relative;
	display: flex;
	height: 100%;
	align-items: center;
	box-sizing: border-box;
}
.toggle label:before {
	content: '';
	background: var(--primary-dark);
	height: 30px;
	width: 64px;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	border: 1px black solid;
}
.toggle:has(input:enabled) label::before {
	background: var(--primary-light);
}
.toggle label:after {
	content: '';
	position: absolute;
	background: var(--danger);
	top: 5px;
	width: 22px;
	height: 22px;
	left: 4px;
	z-index: 1;
	box-sizing: border-box;
	transition: 0.2s ease-in;
}

.toggle input[type='checkbox']:checked + label:after {
	background-color: var(--success);
	left: 38px;
}
.details-buttons {
	display: flex;
	justify-content: space-evenly;
}

label.input-field {
	font-family: Arial;
	font-size: 13.3333px;
	line-height: 1;
}
#submit-hidden {
	display: none;
}

button.primary {
	background: var(--primary-dark);
	border-bottom: outset 5px var(--primary-dark);
}
button.primary:hover {
	background: var(--primary);
}

label.success,
button.success {
	background: var(--success);
	border-bottom: outset 5px var(--success);
}
label.success:hover,
button.success:hover {
	background: var(--success-light);
}

button.secondary {
	background: var(--secondary);
	border-bottom: outset 5px var(--secondary);
}
button.secondary:hover {
	background: var(--secondary-light);
}

button.danger {
	background: var(--danger);
	border-bottom: outset 5px var(--danger);
}
button.danger:hover {
	background: var(--danger-light);
}

/* #endregion ui */

/* #region notifications*/
.notification {
	width: 250px;
	min-height: 100px;
	pointer-events: auto;
	border: 2px black solid;
	margin: 2px;
}
.notification-top-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 2px solid black;
	padding: 2px;
}
.notification.success {
	background-color: var(--success-light);
}
.notification-top-bar.success {
	background-color: var(--success);
}
.notification.warning {
	background-color: var(--warning-light);
}
.notification-top-bar.warning {
	background-color: var(--warning);
}
.notification.danger {
	background-color: var(--danger-light);
}
.notification-top-bar.danger {
	background-color: var(--danger);
}
/* #endregion notifications*/

/* #region loading */
.loader-wrapper {
	z-index: 9999;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.loader {
	position: absolute;
	width: 48px;
	height: 48px;
	display: flex;
	translate: -50% -50%;
	transform-origin: 50% 125%;
	animation: mov-y 1s infinite linear;
	z-index: 4;
}
.loader:before,
.loader:after {
	content: '';
	flex: 1;
	background: var(--accent);
	transform-origin: 0% 100%;
	animation: rtr-x 1s infinite linear;
	z-index: 4;
}
.loader:before {
	transform-origin: 100% 100%;
	animation-name: rtr-rx;
}

@keyframes mov-y {
	0%,
	25% {
		transform: translateY(0) scaleY(1);
	}
	49% {
		transform: translateY(-75%) scaleY(1);
	}
	50% {
		transform: translateY(-75%) scaleY(-1);
	}
	75%,
	100% {
		transform: translateY(-150%) scaleY(-1);
	}
}
@keyframes rtr-x {
	25%,
	75% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(90deg);
	}
}
@keyframes rtr-rx {
	25%,
	75% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-90deg);
	}
}

/* #endregion loading */

@media (max-width: 440px) {
	.aside {
		position: fixed;
		display: none;
	}
	.aside.active {
		display: block;
	}
	.aside-toggle {
		display: block;
	}
}
